.newsletter
	background-color: $turquoise-blue
	padding: 41px 0 51px
	&_inner
		@extend %row
	&_work,
	&_subscribe
		@extend %col-6
		+max-screen($tablet)
			text-align: center

	&_work
		+max-screen($tablet)
			margin-bottom: $col-padding*2
		&-header
			color: $white
			margin-bottom: 14px
	&_subscribe
		margin-top: 10px
		&-inner
			background-color: $white
			padding: 13px 22px 16px
		&-header
			font-size: 24px
			line-height: 36px
			margin-bottom: 0
			hyphens: manual
		&-text
			font-size: 16px
			margin-top: 2px
			margin-bottom: 28px
		&-form
			font-size: 0
			// display: inline-block
			// border: 1px solid $gainsboro
		// &-email-input

