.socials
	a(href="#" title="facebook").ion-social-facebook
	a(href="#" title="twitter").ion-social-twitter
	a(href="#" title="youtube").ion-social-youtube
	a(href="#" title="linkedin").ion-social-linkedin
	a(href="#" title="pinterest").ion-social-pinterest
	a(href="#" title="instagram").ion-social-instagram