.socials
	a(href="#").ion-social-facebook
	a(href="#").ion-social-twitter
	a(href="#").ion-social-youtube
	a(href="#").ion-social-linkedin
	a(href="#").ion-social-pinterest
	a(href="#").ion-social-instagram