section.team
	+center-header(team.header, lorem)
	.team-person
		+insert-image("team-img-1.jpg", "team-img-1", "team-person-img")
	.team-person
		+insert-image("team-img-2.jpg", "team-img-2", "team-person-img")
	.team-person
		+insert-image("team-img-3.jpg", "team-img-3", "team-person-img")
	.team-person
		+insert-image("team-img-4.jpg", "team-img-4", "team-person-img")
	.team-person
		+insert-image("team-img-5.jpg", "team-img-5", "team-person-img")
	.team-person
		+insert-image("team-img-6.jpg", "team-img-6", "team-person-img")
	.team-person
		+insert-image("team-img-7.jpg", "team-img-7", "team-person-img")
	.team-person
		+insert-image("team-img-8.jpg", "team-img-8", "team-person-img")