//variables

//Resolution breakpoints
$hdpi: 1440
$mdpi: 1170
$tablet: 1025
$mobile: 760

// Sizes
$col-padding: 15px



//Colors
$white: #ffffff
$white-white: #fdfdfd
$black: #000000
$nobel: #999999
$gray: #777777
$charcoal: #444444
$comet: #60606e
$turquoise-blue: #7beec7


